<p>Welcome <%= @user.email%></p>
<br>
<form action="/create_url" method="POST" id="create_url">
  <input type="text" id="url" name="url[website]">
  <input type="submit">
</form>
<ul>
  <% @user.urls.each do |url| %>
    <li><a href="<%= url.website %>"><%= url.website %></a> <a href="/<%=url.alter%>"><%= url.alter %></a></li>
  <% end %>
</ul>
<a href="/">Go Home</a>
<br>
<a href="/logout">Logout</a>
